video#wallpaper {
  z-index: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

}


@media screen and (max-width: 1280px) {
  * {
    font-size: 27px;
  }
}


@media screen and (max-width: 1040px) {
  * {
    font-size: 21px;
  }
}





* {
  z-index: 100;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  z-index: 100;
  width: 95%;
  max-width: 1160px;
  margin: auto;
}

.animated-heading {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  z-index: 100;
  color: white;
  font-weight: 500;
}

span#words {
  z-index: 100;
  font-weight: bolder;
}