















.loota {
    /* text-align: center; */
    vertical-align: baseline;
    font-size: 24px;




    /* margin: 0; */

}




.KelloOtsikkoMainMenu {

    text-align: center;
    margin-top: 13%;
    margin-bottom: 43%;
    display: flex;
    justify-content: center;
    min-height: 100vh
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0px;
    cursor: pointer
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
       
}


.KelloOtsikko {

    text-align: center;
    margin-top: 7.9%;
    display: flex;
    justify-content: center;
    min-height: 100vh
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 0px;
    cursor: pointer
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
}







.KelloOtsikko2 {

    text-align: center;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    min-height: 100vh
   

 
        0 0 20px #fff,
        0 0 40px #fff;
      
}








.otsikkoEtu {

    text-align: center;
    margin-top: 18%;
    display: flex;
    justify-content: center;
    min-height: 100vh
}

.spanetu {
    color: #fff;
    font-family: 'Times New Roman', serif;
}

.h1etu {
    color: #484848;
    font-size: 22px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
}

.h1etu .spanetu {
    transition: .5s linear
}

.h1etu:hover .spanetu:nth-child(1) {
    margin-right: 5px
}

.h1etu:hover .spanetu:nth-child(1):after {
    content: "irtual";
}

.h1etu:hover .spanetu:nth-child(2):after {
    content: "eality";
}

.h1etu:hover .spanetu:nth-child(2) {
    margin-left: 30px
}



.h1etu:hover .spanetu {
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
}

/*made with â¤, by qpi65*/















@import url('https://fonts.googleapis.com/css?family=Oswald:500');







.blender2 {

  padding-left: 12%;
  padding-top: 8%;
  padding-bottom: 8%;

}








.RPGcontainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.RPGiframecontainer {

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

}
.RPGiframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}










.iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;


}

.iframecontainer {

  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 11.1%;
}










a {
  color: white;
}

.top {
  margin-top: 4%;
  text-align: center;
}

.games {
  text-align: center;
}

.bottom {
  text-align: center;
  margin-bottom: 150px;
}






* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-image: url(/images/retropc.jpg);
  background-attachment: fixed;
  background-size: 100%;
}













.nav {
  height: 52px;
  width: 100%;
  background-color: rgb(3, 30, 47);
  position: relative;
  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  font-family: 'Oswald', sans-serif;
font-weight:500;
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
  
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgb(6, 67, 96);
}

.nav > #nav-check {
  display: none;
}


@media (max-width:900px) {

  .container {
    width: 90%;

  }

  body {
    background-image: url(/images/retro.jpg);
    background-attachment: fixed;
    background-size: 100%;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 999;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}













.imageshine1 {
  width: 200px;
  background-image: url(/images/valve-index.jpg);
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 125px;
  /* left: 50%; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  /* display: inline-block; */
}

.imageshine1:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine1:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine1:active:after {
  opacity: 0;
}





.valve-index-otsikko {
  text-align: center;
  color: #fff;
  font-size: 42px;
}

.valvespin {
  text-align: center;
}

.valvetext0 {
  text-align: center;
  color: #fff;
}

















.imageshine2 {
  width: 200px;
  height: 120.73px;
  background-image: url(/images/Meta.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 325px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;

  overflow: hidden;
  display: inline-block;
}

.imageshine2:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine2:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine2:active:after {
  opacity: 0;
}





.meta-otsikko {
  text-align: center;
  color: #fff;
  font-size: 42px;
}

.metaspin {
  text-align: center;
}

.metatext0 {
  text-align: center;
  color: #fff;
}

.metatext1 {
  text-align: center;
  color: #fff;
}

.metatext2 {
  text-align: center;
  color: #fff;
}

.metatext3 {
  text-align: center;
  color: #fff;
}

.metatext4 {
  text-align: center;
  color: #fff;
}

.metatext5 {
  text-align: center;
  color: #fff;
}

.metatext6 {
  text-align: center;
  color: #fff;
}

.metatext7 {
  text-align: center;
  color: #fff;
}

.metatext8 {
  text-align: center;
  color: #fff;
}

.metatext9 {
  text-align: center;
  color: #fff;
}

.metatext10 {
  text-align: center;
  color: #fff;
}

.metatext11 {
  text-align: center;
  color: #fff;
}

.metatext12 {
  text-align: center;
  color: #fff;
}




























.imageshine3 {
  width: 200px;
  height: 120.73px;
  background-image: url(/images/Meta.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 525px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine3:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine3:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine3:active:after {
  opacity: 0;
}






























.imageshine4 {
  width: 200px;
  background-image: url(/images/Meta.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 725px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine4:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine4:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine4:active:after {
  opacity: 0;
}


































.imageshine5 {
  width: 200px;
  background-image: url(/images/meganexvrjpg.jpg);
  background-repeat: no-repeat;
  position: absolute;
  top: 925px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine5:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine5:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine5:active:after {
  opacity: 0;
}



























.imageshine6 {
  width: 200px;
  /* background-image: url(/images/eteeGT0.webp); */
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 1125px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine6:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 150%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine6:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine6:active:after {
  opacity: 0;
}










.imageshine7 {
  width: 200px;
  /* background-image: url(/images/eteeGT0.webp); */
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 1325px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine7:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 150%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine7:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine7:active:after {
  opacity: 0;
}










.imageshine8 {
  width: 200px;
  /* background-image: url(/images/eteeGT0.webp); */
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 1525px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine8:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 150%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine8:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine8:active:after {
  opacity: 0;
}














.imageshine9 {
  width: 200px;
  /* background-image: url(/images/eteeGT0.webp); */
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 1725px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine9:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 150%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine9:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine9.bgAudio:after {
  opacity: 0;
}





.imageshine10 {
  width: 200px;
  /* background-image: url(/images/eteeGT0.webp); */
  /* background-repeat: no-repeat; */
  position: absolute;
  top: 1925px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  /* margin: 25px 0 25px 25px;  */
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imageshine10:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 150%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */
.imageshine10:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.imageshine10.bgAudio:after {
  opacity: 0;
}





.bgAudio {
  text-align: center;
  padding-top: 6%;
  padding-bottom: 1%;
}

.RPG{
  text-align: center;
  padding-bottom: 100px;
}





.h1etu {
  color: #484848;
  font-size: 22px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

.h1etu .spanetu {
  transition: .5s linear;
}


.spanetu {
  color: #fff;
  font-family: 'Times New Roman', serif;
}


.loota {
  /* text-align: center; */
  vertical-align: baseline;
  font-size: 24px;
  /* margin: 0; */
}






.V-R {
  margin-top: 20%;
  color: #fff;
  text-align: center;
}

.V-R span {
  font-family: courier;
  font-weight: 600;
  position: relative;
  display: inline-block;
  font-size: 28px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}